<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
      <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
	<!-- 	<property name="hibernate.connection.url">jdbc:mysql://103.28.121.29:3306/medone?useSSL=false</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		 -->
		 
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/medone?useSSL=false</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>

		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>

		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.hbm2ddl">create-drop</property>
		
		
		<property name="show_sql">true</property>

		<property name="hibernate.connection.release_mode">after_statement</property>
		
		

		<!-- start c3p0 connection properties -->
		<property name="c3p0.min_size">10</property>
		<property name="c3p0.max_size">100</property>
		<property name="c3p0.timeout">20</property>
		<property name="c3p0.acquireRetryAttempts">30</property>
		<property name="c3p0.acquireIncrement">5</property>
		<property name="c3p0.idleConnectionTestPeriod">900</property>
		<property name="c3p0.initialPoolSize">20</property>
		<property name="c3p0.maxPoolSize">100</property>
		<property name="c3p0.maxIdleTime">300</property>
		<property name="c3p0.maxStatements">200</property>
		<property name="c3p0.minPoolSize">10</property>
		<!-- end c3p0 connection properties -->

		<mapping class="model.PatientModel" />
		<mapping class="model.DoctorModel" />
		<mapping class="model.ReportModel" />
		<mapping class="model.DrugModel" />
		<mapping class="model.ThreadModel" />
		<mapping class="model.MessageModel" />
		
		
		
	</session-factory>
</hibernate-configuration>
